@model ErrorViewModel

@{
    ViewData["Title"] = "Acesso Negado";
}

<h1>Acesso Negado</h1>
<p>Você não tem permissão para acessar esta página.</p>
<a href="/" class="btn btn-primary">Voltar para a Página Inicial</a>

