@model AguasSetubal.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Iniciar Sessão";
}

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card shadow-lg mt-3">
            <div class="card-body">
                <h2>@ViewData["Title"]</h2>

                <div class="card shadow-lg mt-3">
                    <div class="card-body">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly"></div>

                            <div class="form-group">
                                <label asp-for="Username">Apelido</label>
                                <input asp-for="Username" class="form-control" />
                                <span asp-validation-for="Username" class="text-warning"></span>
                            </div>

                            <div class="form-group">
                                <label asp-for="Password">Password</label>
                                <input asp-for="Password" type="password" class="form-control" />
                                <span asp-validation-for="Password" class="text-warning"></span>
                            </div>

                            <div class="form-group">
                                <div class="form-check">
                                    <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                                    <label asp-for="RememberMe" class="form-check-label">Lembra-me?</label>
                                </div>
                                <span asp-validation-for="RememberMe" class="text-warning"></span>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Login" class="btn btn-primary" />
                                @if (!this.User.IsInRole("Anonimo"))
                                {
                                    <a asp-action="RecoverPassword" class="btn btn-link">Recuperar Password?</a>
                                }
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


