@model AguasSetubal.Models.Cliente

@{
    ViewData["Title"] = "Criar Cliente";
}
<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow-lg mt-3 scroll">
                <div class="card-body">
                    <h1 class="display-4">@ViewData["Title"]</h1>
                    <h4 class="mt-4">Detalhes do Cliente</h4>
                    <hr />
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <!-- Campo Nome -->
                        <div class="form-group">
                            <label asp-for="Nome" class="control-label"></label>
                            <input asp-for="Nome" class="form-control" />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>

                        <!-- Campo Morada -->
                        <div class="form-group">
                            <label asp-for="MoradaFaturacao" class="control-label"></label>
                            <input asp-for="MoradaFaturacao" class="form-control" />
                            <span asp-validation-for="MoradaFaturacao" class="text-danger"></span>
                        </div>

                        <!-- Campo Número do Cartão de Cidadão -->
                        <div class="form-group">
                            <label asp-for="NumeroCartaoCidadao" class="control-label"></label>
                            <input asp-for="NumeroCartaoCidadao" class="form-control" />
                            <span asp-validation-for="NumeroCartaoCidadao" class="text-danger"></span>
                        </div>

                        <!-- Campo NIF -->
                        <div class="form-group">
                            <label asp-for="NIF" class="control-label"></label>
                            <input asp-for="NIF" class="form-control" />
                            <span asp-validation-for="NIF" class="text-danger"></span>
                        </div>

                        <!-- Campo Contacto Telefónico -->
                        <div class="form-group">
                            <label asp-for="ContactoTelefonico" class="control-label"></label>
                            <input asp-for="ContactoTelefonico" class="form-control" />
                            <span asp-validation-for="ContactoTelefonico" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="UserId" class="control-label">Selecione o utlizador que irá gerir o cliente</label>
                            <select asp-for="UserId" class="form-control" asp-items="ViewBag.Utilizadores"></select>
                            <span asp-validation-for="UserId" class="text-danger"></span>
                        </div>
                        <!-- Botão de Submissão -->
                        <div class="form-group">
                            <input type="submit" value="Criar" class="btn btn-primary btn-lg" />
                            <a asp-action="Index" class="btn btn-secondary btn-lg ml-2">Voltar à Lista</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}