@model AguasSetubal.Models.Fatura

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card shadow-lg mt-3 scroll">
                <div class="card-body">
                    <h4>Editar fatura</h4>
                    <hr />
                    <div class="row" id="createFaturaDiv">
                        <div class="col-md-8">
                            <form asp-action="Edit" enctype="multipart/form-data">
                                <input type="hidden" asp-for="Id" />
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="ClienteId" class="control-label">Selecione o cliente</label>
                                    <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.Clientes"></select>
                                    <span asp-validation-for="ClienteId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ContadorId" class="control-label">Selecione o contador</label>
                                    <select asp-for="ContadorId" class="form-control" asp-items="ViewBag.Contadores"></select>
                                    <span asp-validation-for="ContadorId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="DataInicio" class="control-label"></label>
                                    <input asp-for="DataInicio" class="form-control" />
                                    <span asp-validation-for="DataInicio" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="DataFim" class="control-label"></label>
                                    <input asp-for="DataFim" class="form-control" />
                                    <span asp-validation-for="DataFim" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Gravar" class="btn btn-primary" />
                                    <a asp-action="Index">Back to List</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {

        $('#createFaturaDiv #ClienteId').on('change', function (e) {
            GetCountersByClientId($(this).val());
        });

        GetCountersByClientId($('#createFaturaDiv #ClienteId').val());


        function GetCountersByClientId(clientId) {

            $("#ContadorId").empty();
            $.ajax({
                url: '@Url.Action("GetCountersByClientId", "LeituraContador")',
                method: 'POST',
                data: { clientId: clientId },
                success: function (response) {

                    $.each(response, function (i, counter) {
                        $("#ContadorId").append('<option value="'
                            + counter.value + '">'
                            + counter.text + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed to retrieve counters.' + ex);
                }
            });
        }

    });

</script>