@model AguasSetubal.Models.Fatura

@{
    ViewData["Title"] = "Create Fatura";
}

<h1>Create Fatura</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="ClienteId" class="control-label">Cliente</label>
        <select asp-for="ClienteId" class="form-control" asp-items="ViewBag.Clientes"></select>
    </div>

    <div class="form-group">
        <label asp-for="Endereco" class="control-label">Morada</label>
        <input asp-for="Endereco" class="form-control" readonly />
    </div>

    <div class="form-group">
        <label asp-for="LeituraContador.LeituraAnterior" class="control-label">Leitura Anterior</label>
        <input asp-for="LeituraContador.LeituraAnterior" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="LeituraContador.Valor" class="control-label">Leitura Atual</label>
        <input asp-for="LeituraContador.Valor" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>





