@model IEnumerable<AguasSetubal.Models.Fatura>

@{
    ViewData["Title"] = "Faturas";
}

<h1>Faturas</h1>

<table class="table">
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Data de Emissão</th>
            <th>Valor Total</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Cliente.Nome</td>
                <td>@item.DataEmissao.ToString("dd/MM/yyyy")</td>
                <td>@item.ValorTotal.ToString("C")</td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                </td>
            </tr>
        }
    </tbody>
</table>

